


body{
  background-color:#EAF6F6;

}

hr{
  background-color: white;
  border-style: dotted none none;
  border-width: 15px;
  border-color: grey;
  width:  30%;


}
 img{
height: 20px,
 }

h1, h3 {
  color: #66fbfb;
}
